<h1 class="animated fadeIn fast">Sobre comics</h1>
<hr />
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus commodi, et,
  blanditiis deserunt, voluptatibus voluptas sunt aliquid voluptates explicabo
  voluptatem molestias non facere doloribus nemo! Facilis necessitatibus
  provident modi unde!
</p>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus commodi, et,
  blanditiis deserunt, voluptatibus voluptas sunt aliquid voluptates explicabo
  voluptatem molestias non facere doloribus nemo! Facilis necessitatibus
  provident modi unde!
</p>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus commodi, et,
  blanditiis deserunt, voluptatibus voluptas sunt aliquid voluptates explicabo
  voluptatem molestias non facere doloribus nemo! Facilis necessitatibus
  provident modi unde!
</p>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus commodi, et,
  blanditiis deserunt, voluptatibus voluptas sunt aliquid voluptates explicabo
  voluptatem molestias non facere doloribus nemo! Facilis necessitatibus
  provident modi unde!
</p>
